<section class="section section-editor">
	<div class="container">
		<div class="editor__wrapper">
			<div class="editor__control">
				<div class="editor__header">
					<nav class="editor__navigation">
						<ul class="editor__list flex">
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-text-height"><span>Text mode</span></button>
								<div class="editor__dropdown">
									<div class="option__text flex">
										<div class="option__family">
											<select id="family">
												<option selected class="customOptionClass" value="Arial">Arial</option>
												<option value="Times New Roman">Times New Roman</option>
												<option value="Verdana">Verdana</option>
											</select>
										</div>
										<div class="option__size">
											<select id="size">
												<option selected class="customOptionClass" value="8px">8px</option>
												<option value="10px">10px</option>
												<option value="12px">12px</option>
											</select>
										</div>
									</div>
								</div>
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-pen-angled"><span>Signature</span></button>
								<div class="editor__dropdown">Signature options</div>
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-highlight"><span>Highlight</span></button>
								<div class="editor__dropdown">Highlight options</div>
							
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-pictures"><span>Insert image</span></button>
								<div class="editor__dropdown">Insert image options</div>
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-search"><span>Search</span></button>
								<div class="editor__dropdown">Search options</div>
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-point-up"><span>Read mode</span></button>
								<div class="editor__dropdown">Read more options</div>

							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-export"><span>Export file</span></button>
								<div class="editor__dropdown">Export file options</div>
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-sort"><span>Move page</span></button>
								<div class="editor__dropdown">Move page options</div>
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-drag"><span>Drag mode</span></button>
								<div class="editor__dropdown">Drag mode options</div>
							</li>
							<li class="editor__item editor__item--hover">
								<button class="editor__btn sz-10 icon-attachment"><span>Atachments</span></button>
								<div class="editor__dropdown">Atachment options</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="editor__page">
			</div>
			<div class="counter__page center">
				<span class="counter__info sz-14 fw-600">Page 1</span>
				<ul class="counter__list flex flex-between">
					<li class="counter__item">
						<button class="counter__btn btn--prev icon-chevron-thin-left">prev</button>
					</li>
					<li class="counter__item">
						<button class="counter__btn btn--next icon-chevron-thin-right">next</button>
					</li>
				</ul>
			</div>	
		</div>
	</div>
</section>