<header class="header bg-gradient">
	<div class="container">
		<div class="header__container flex flex-between">
			<div class="logo__container flex">
				<a href="index.html" target="_blank" class="logo__link" >
					<img src="./assets/img/logo/aspose-logo.svg" class="logo__img" alt="aspose logo" height="175" width="54">
				</a>
			</div>
			<div class="menu-btn">
				<div class="menu-btn__burger"></div>
			</div>
			<div class="navigation__wrapper">
				<nav class="navigation">
					<ul class="navigation__list">
						<li class="navigation__item">
							<button id="btn-modal" class="navigation__link navigation__link--upload">Upload</button>
							<div class="overlay" id="overlay"></div>
							<div class="modal" id="modal">
								Drop your file here
								<button class="modal-close-btn icon-close" id="close-btn"></button>
							</div>
						</li>
						<li class="navigation__item">
							<button class="navigation__link navigation__link--remove">Add page</button>
						</li>
						<li class="navigation__item">
							<button class="navigation__link navigation__link--remove">Remove page</button>
						</li>
					</ul>
				</nav>
				<div class="account__wrapper">
					<ul class="account__list">
						<li class="account__item">
							<a href="#" class="account__link account__link--save">Save</a>
						</li>
						<li class="account__item">
							<a href="#" class="account__link account__link--user">Sign in</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
